@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-bg-color: #a89a7f;
  --button-bg-color: #49371d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--main-bg-color);
}

.page {
  min-width: 80vw;
  border: 1px solid;
}
nav {
  background: url("images.jpg") no-repeat center / cover;
  padding: 2rem;
  color: white;
}
.nav-bar-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-area .nav-logo-area {
  flex: 1;
}

.nav-bar-area .nav-logo-area img {
  width: 50px;
  border-radius: 50%;
  aspect-ratio: 1;
  cursor: pointer;
}

.nav-bar-area .nav-list-area {
  flex: 3;
}
.nav-bar-area .nav-list-area ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-bar-area .nav-list-area ul li a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition: color 0.15s ease-in;
}
.nav-bar-area .nav-list-area ul li a:hover {
  color: lightblue;
}

.nav-bar-area .search-area {
  flex: 1;
  text-align: right;
  cursor: pointer;
  transition: color 0.15s ease-in;
}
.nav-bar-area .search-area i:hover {
  color: lightblue;
}

.intro-desc-area {
  margin: 3rem 0;
  color: white;
  width: 100%;
  max-width: 400px;
}

.intro-desc-area h4 {
  font-size: 1.5rem;
}

.intro-desc-area button {
  margin-top: 1rem;
  font-size: 14px;
  font-weight: bold;
  width: 120px;
  padding: 7px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
