@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --bg-clr: #f2f4f7b6;
  --blue: #0866ff;
  --green: #42b72a;
  --font: #393b4aa2;
}
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20 vmin;
  background: var(--bg-clr);
  min-height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 8rem;
}
.logo img {
  width: 20rem;
  margin-left: -30px;
}
.log-name {
  width: 30rem;
}
.log-name > p {
  font-size: 1.75rem;
  margin-top: -1rem;
}

.card {
  width: 24.8rem;
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 5px 10px 2px rgba(0, 0, 0, 0.233);
  margin: 0 0 0 6.1rem;
}

.card > input,
.card > button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.3rem;
  margin: 0.5rem 0;
}

.card input {
  border: 1px solid rgba(128, 128, 128, 0.575);
  font-size: 1rem;
}
.card input:focus {
  outline: 0.5px solid var(--blue);
}
#log-in-btn {
  background: var(--blue);
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.7rem;
  color: white;
  cursor: pointer;
  transition: background 0.15s ease-out;
}
#log-in-btn:hover {
  background: #2173f7;
}
.card p {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.363);
  padding-bottom: 1rem;
  margin: 0.5rem;
}
.card a {
  text-decoration: none;
  color: var(--blue);
  font-size: 0.9rem;
}
.card a:hover {
  text-decoration: underline;
}
.create {
  width: 100%;
  text-align: center;
}
.create #create-btn a {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
.create #create-btn a:hover {
  text-decoration: none;
}
.create #create-btn {
  background: var(--green);
  border: none;
  padding: 0.8rem;
  width: 192px;
  border-radius: 0.3rem;
  margin: 1rem 0;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
.card #create-btn:hover {
  background: green;
}

.card-con .desc a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.card-con .desc {
  font-size: 0.9rem;
  text-align: center;
  margin: 1.5rem 0 0 6.1rem;
}
.card-con .desc a:hover {
  text-decoration: underline;
}
.foot {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 11rem;
}
.foot p a {
  font-size: 0.8rem;
  color: var(--font);
  text-decoration: none;
}
.foot .und {
  border-bottom: 1px solid rgba(128, 128, 128, 0.301);
  padding-bottom: 0.5rem;
}
.foot .link {
  margin: 1 0;
}
.copy {
  font-size: 0.7rem;
  color: var(--font);
  margin-top: 1rem;
}

@media only screen and (min-width: 820px) and (max-width: 1000px) {
  body {
    margin: 0;
    padding: 0;
    max-height: 20vh;
  }

  .logo {
    width: 100%;
    text-align: center;
  }
  .log-name p {
    display: none;
  }
  .main {
    flex-direction: column;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  .foot {
    display: none;
  }
  .card {
    width: 100%;
    background: white;
    padding: 0;
    border-radius: none;
    box-shadow: none;
    margin: 0;
  }
  .desc {
    display: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 820px) {
  body {
    margin: 0;
    padding: 0;
    max-height: 20vh;
  }
  .logo img {
    width: 11rem;
  }
  .logo {
    width: 100%;
    text-align: center;
  }
  .log-name p {
    display: none;
  }
  .main {
    flex-direction: column;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 1%;
  }
  .foot {
    display: none;
  }
  .card {
    width: 100%;
    background: white;
    padding: 0;
    border-radius: none;
    box-shadow: none;
    margin: 0;
  }
  .desc {
    display: none;
  }
}
