@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  padding: 1rem;
  border: 1px solid black;
  min-height: 100vh;
}

nav {
  display: flex;
}

.nav-left-section,
.nav-mid-section,
.nav-right-section {
  flex: 1;
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.664);
}

.nav-left-section {
  position: relative;
}
.nav-left-section .menu-list {
  position: fixed;
  right: 1rem;
  left: 1rem;
  top: 60px;
  padding: 1rem 0;
  background: linear-gradient(45deg, #61a6ff, #8f8cff, #a281ff);
}
.nav-left-section .menu-list ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.nav-left-section .menu-list ul li {
  margin: 5px 0;
  cursor: pointer;
  text-align: center;
}
.nav-left-section .menu-list ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.829);
}
.nav-left-section .menu-list ul #cancel-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 20px;
  background: rgba(0, 0, 0, 0.603);
  color: white;
  border-radius: 50%;
  font-size: 9px;
  aspect-ratio: 1;
  line-height: 20px;
}
.nav-mid-section {
  flex: 3;
  /* flex-basis: 60%; */
  text-align: center;
  color: #f5914f;
  font-size: 23px;
}
.nav-right-section {
  text-align: right;
  cursor: pointer;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
  text-align: center;
}
.favorite-recipe img {
  width: 70px;
  border-radius: 50%;
  aspect-ratio: 1;
  border: 3px solid rgba(128, 128, 128, 0.527);
}

.content-box {
  width: 100%;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.507);
  overflow: hidden;
}
.food-image-content {
  width: 100%;
  height: 400px;
  background: coral;
  overflow: hidden;
}
.food-image-content img {
  width: 100%;
}
.food-name-star-content {
  padding: 1rem 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.hide {
  display: none;
}

@media only screen and (max-width: 1700px) {
  .favorite-recipe img {
    width: 150px;
    border: 6px solid rgba(128, 128, 128, 0.527);
  }
  .favorite-recipe h5 {
    font-size: 1rem;
  }
  .nav-left-section,
  .nav-mid-section,
  .nav-right-section {
    font-size: 2rem;
  }
  .content-box {
    padding: 10px;
  }
  .food-name-star-content {
    margin: 1.3rem 0;
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 810px) and (max-width: 1580px) {
  .content {
    max-width: 80%;
  }
  .favorite-recipe img {
    width: 150px;
    border: 6px solid rgba(128, 128, 128, 0.527);
  }
  .favorite-recipe h5 {
    font-size: 1rem;
  }
  .nav-left-section,
  .nav-mid-section,
  .nav-right-section {
    font-size: 2rem;
  }
  .content-box {
    padding: 10px;
  }
  .food-name-star-content {
    margin: 1.3rem 0;
    font-size: 1.3rem;
  }
}
